.masthead {
    background-image: url('/images/banner.png');
    min-height: 500px;
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#address {
    font-size: 1.7rem;
    font-family: 'tex italic bold';
}

#shop_name {
    font-size: 3rem;
    font-family: 'tex bold';
}

.par {
    font-size: 1.3rem;
}

.about-content {
    margin: 3rem;
}

@media only screen and (max-width:400px) {
    #shop_name {
        font-size: 2rem;
    }
    #address {
        font-size: 1rem;
    }
    .about-content {
        margin: 5% !important;
    }
}