@font-face {
    font-family: 'tex regular';
    src: url('/fonts/texgyreheros-regular.otf');
}

@font-face {
    font-family: 'tex bold';
    src: url('/fonts/texgyreheros-bold.otf');
}

@font-face {
    font-family: 'tex italic bold';
    src: url('/fonts/texgyreheros-bolditalic.otf');
}

body {
    overflow-x: hidden;
    padding: 0;
    font-family: "tex regular", Arial, Helvetica, sans-serif;
}

a {
    outline: none !important;
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: gray;
}

.circle-border {
    clip-path: circle() !important;
}

.avatar {
    width: 300px;
    height: 337px;
    object-fit: contain;
    /* object-position: 100% 0; */
}

.brand {
    height: 137px;
    object-fit: contain;
}

input[type=radio] {
    border: 0px;
    width: 100% !important;
    height: 2em !important;
}

.limit {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

textarea {
    min-height: 8rem;
}

/* NAVIGATION BAR */

.dropdown-menu {
    background-color: #E5A253;
    border: none;
    border-radius: 15px;
    padding-bottom: 1rem;
}

.dropdown-menu a {
    border-bottom: 1px solid white;
}

#logo {
    width: 2.5rem;
}

.navbar {
    background-color: #2D3238;
}

.navbar a, .action a {
    color: white;
    font-size: 0.6rem;
    font-family: 'tex bold';
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.nav-item a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.fa-bars {
    color: #E5A253;
}

.btn {
    background-color: #E5A253;
    color: white;
}

.btn:hover {
    box-shadow: 0px 0 20px #e5a15344 !important;
    text-shadow: 0px 0 20px rgba(255, 255, 255, 0.397) !important;
    color: rgb(255, 255, 255);
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/* SIDEBAR */

#sidebar-container {
    min-height: 90vh;
    background-color: #333;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 150px;
}

.sidebar-collapsed {
    width: 60px;
}

.sidebar-collapsed .side-icon {
    font-size: 1rem;
}

.sidebar-collapsed .list-group a {
    height: auto !important;
}

.list-group a.active {
    border: 3px solid #333;
    border-left: 3px solid #E5A253 !important;
}

/* Menu item*/

#sidebar-container .list-group a {
    height: 80px;
    color: white;
    text-decoration: none;
}

/* GENERAL */

#pageTitle {
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}

/* Table */

tr:last-child td:first-child {
    border-bottom-left-radius: 25px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 25px;
}

.dashboard .bg-dark, .table-content .bg-dark {
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* DASHBOARD */
.card-holder {
    border-radius: 20px;
    color: white;
}

#paid {
    background: rgb(250, 217, 0);
    background: linear-gradient(142deg, rgba(250, 217, 0, 1) 26%, rgba(0, 125, 4, 1) 100%);
    /* background-image: url('/images/paid.png'); */
}

#unpaid {
    background: rgb(241, 0, 250);
    background: linear-gradient(142deg, rgba(241, 0, 250, 1) 26%, rgba(0, 16, 125, 1) 100%);
}

#pending {
    background: rgb(0, 250, 167);
    background: linear-gradient(142deg, rgba(0, 250, 167, 1) 26%, rgba(0, 42, 125, 1) 100%);
}

.data-holder {
    background-color: #2D3238;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 5rem;
}


@media only screen and (max-width:420px) {
    .col {
        padding: 0.5rem !important;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}