#productImage {
    background-size: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10rem;
    min-width: 10rem;
}

#list {
    border: 2px solid black;
    border-radius: 30px;
    width: 80%;
    min-height: 20vh;
}

#list h3 {
    font-family: 'tex bold';
}

.receipt {
    width: 90%;
}

@media only screen and (max-width:600px) {
    #list {
        padding: 0% !important;
        width: 90%;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    
    #check_button{
        width: 100% !important;
    }

    #list h3 {
        font-size: 1rem !important;
    }

}