.thumbnail img {
    display: none;
}

.thumbnail {
    width: 100%;
    min-height: 100px;
    /*border: 1px solid black;*/
    filter: drop-shadow(0 0 5px black);
    background-size: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#productImage {
    top: 0;
    width: 100%;
    z-index: 0;
    min-height: 50vh;
    background-size: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}

.border .fa-heart {
    color: #E5A253;
    font-size: 1.5rem;
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}


@media only screen and (max-width:450px) {
    .thumbnail {
        width: 100px !important;
        background-size: 25rem;
        background-repeat: no-repeat;
    }

    .image {
        padding-right: 0% !important;
        padding-left: 0% !important;
    }

    /* .thumbnail-list {
        display:inline-flex !important;
    } */
}