/* MASTHEAD SECTION */

.bannerlead {
    font-family: 'tex italic bold';
    color: white;
    font-style: italic;
    border-radius: 25px;
    font-weight: 900;
    font-size: 1.5rem;
}

.bannertitle {
    color: white;
    font-family: 'tex bold';
    font-size: 3.3rem;
    font-weight: 900;
    vertical-align: middle;
}

.fas:hover {
    text-shadow: 0px 0 20px rgba(255, 255, 255, 0.397) !important;
    cursor: pointer;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2D3238;
}

.masthead i {
    color: white;
    font-size: 5rem;
}

/* SERVICE SECTION */

.centered {
    position: absolute;
    color: white;
}

.h1 {
    top: 53%;
    left: 50%;
    font-size: 2.7rem;
    transform: translate(-50%, -50%);
}

.h2 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service {
    font-family: 'tex bold';
    color: #2D3238;
}

/* FEATURED SECTION */

.carousel {
    width: 80%;
    margin: auto;
}

.carousel.div {
    display: block;
    margin: auto;
}

.featured {
    background-color: #EFEFEF;
    font-family: 'tex bold';
    color: #2D3238;
}

.slick-slide img {
    width: 7rem;
}

.slick-prev:before, .slick-next:before {
    color: #2D3238;
    font-size: 1rem;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}

/* PRODUCTS SECTION */

#brand {
    font-size: 1rem;
    font-family: 'tex regular';
}

.indivcard {
    border-radius: 45px;
}

#price .fa-heart {
    color: #E5A253;
}

#prodname {
    font-size: 1.2rem;
    font-family: 'tex regular';
}

.products {
    background-color: #efefef;
    margin-top: 8rem;
    border-radius: 25px;
    font-family: 'tex bold';
}

.carousel-brands {
    height: 100px;
}

@media only screen and (min-width:768px) {
    .masthead {
        background-color: #2D3238;
    }

    .h1 {
        font-size: 4rem;
    }

    .bannertitle {
        font-size: 5rem;
    }
}

@media only screen and (max-width:450px) {
    .bannertitle {
        font-size: 2.3rem !important;
    }

    .do-content {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .products {
        padding: 0 !important;
        margin: 0.5rem !important;
    }

    .products .col-lg-4{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}