.extra {
    text-decoration: none;
    color: #E5A253;
}

form input, form label, .forgot-pass a {
    font-family: 'tex bold';
    color: #2D3238 !important;
}

#forForm {
    background-image: url('/images/car_bg.png');
    background-repeat: no-repeat;
}

#forLogo {
    display: none;
}

label a {
    color: #E5A253 !important;
}

label a:hover {
    text-shadow: 0 0 20px #e5a15356 !important;
}

#page-title {
    font-size: 4rem;
    border-bottom: 3px solid black;
}

#textlink {
    font-family: 'tex bold';
    color: #2D3238;
    text-align: center;
    font-size: 1.3rem;
}

@media only screen and (min-width:768px) {
    #forLogo {
        background-color: #2D3238;
        min-height: 80vh;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

@media only screen and (max-width:530px) {
    #login, #register {
        width: 100% !important;
    }
    .login-content, .register-content {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    #forForm {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}

@media only screen and (max-width:750px) {
    #forForm {
        padding-top: 0% !important;
        padding-bottom: 0% !important;
    }
}