@font-face {
    font-family: 'tex regular';
    src: url('/fonts/texgyreheros-regular.otf');
}

@font-face {
    font-family: 'tex bold';
    src: url('/fonts/texgyreheros-bold.otf');
}

@font-face {
    font-family: 'tex italic bold';
    src: url('/fonts/texgyreheros-bolditalic.otf');
}

body {
    overflow-x: hidden;
    padding: 0;
    font-family: "tex regular", Arial, Helvetica, sans-serif;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

.productImg {
    object-fit: contain;
    background-color: rgb(218, 218, 218);
}

.btn {
    background-color: #E5A253;
    color: white;
    border-radius: 25px;
    outline: none !important;
    box-shadow: none !important;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
}

.btn:hover {
    box-shadow: 0px 0 20px #e5a15344 !important;
    text-shadow: 0px 0 20px rgba(255, 255, 255, 0.397) !important;
    color: rgb(255, 255, 255);
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

.input-group-text {
    color: #E5A253 !important;
    background-color: #2D3238 !important;
}

label {
    font-family: 'tex bold' !important;
}

.page-title {
    font-size: 3.5rem;
    text-align: center;
    font-family: 'tex regular';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
    width: 90%;
}

.bg-car {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50rem;
}

/* NAVIGATION BAR */

.dropdown-menu {
    background-color: #E5A253;
    border: none;
    border-radius: 15px;
    padding-bottom: 1rem;
}

.dropdown-menu a {
    border-bottom: 1px solid white;
}

#logo {
    width: 2.5rem;
}

.modal-body {
    background-image: url('/images/car_bg.png');
    background-repeat: no-repeat;
    min-height: 15rem;
    background-size: 30rem;
    background-position: right;
}

.terms.modal-body h3{
    border-bottom: 2px solid black;
    font-weight: bold;
}

.navbar {
    background-color: #2D3238;
}

.navbar a {
    color: white;
    font-size: 0.6rem;
    font-family: 'tex bold';
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.nav-item .nav-link.active {
    border-bottom: 2px solid #E5A253 !important;
}

.nav-item a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.fa-bars {
    color: #E5A253;
}

.limit {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
}

textarea {
    min-height: 8rem;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

/* FOOTER */

.fa-stack-2x {
    color: white;
}

footer {
    background-color: #E5A253;
    color: white;
    font-family: 'tex bold';
}

.footer-copyright {
    font-size: 0.7rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

#footerTitle {
    font-size: 3rem;
}

.list-unstyled li {
    margin-bottom: 0.5rem;
}

.list-unstyled span {
    background-color: white;
    clip-path: circle();
    color: #2D3238;
}

.circle-border {
    clip-path: circle() !important;
}

.avatar {
    width: 300px;
    height: 337px;
    object-fit: contain;
    /* object-position: 100% 0; */
    background-color: rgb(218, 218, 218);

}

.edit-avatar {
    height: 190px;
    object-fit: contain;
    background-color: rgb(218, 218, 218);
}

.navbar-avatar {
    width: 20px;
    height: 10px;
    object-fit: contain;
    background-color: rgb(218, 218, 218);
}

.carousel-brand img {
    object-fit: contain;
    cursor: pointer;
    height: 100%;
}

@media only screen and (min-width:768px) {
    #footerTitle {
        font-size: 4rem;
    }

    .btn {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:600px) {
    .page-title {
        font-size: 2.5rem !important;
    }

    .res_pass {
        padding: 1rem !important;
        width: 100% !important;
    }

    .res_pass .btn {
        width: 100% !important;
    }
}