/* .method {
    border-bottom: 2px solid black;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    font-size: 1.8rem;
    font-family: 'tex bold';
}

.card {
    background-color: #2D3238;
    width: 28rem;
    border-radius: 30px;
}

.cardname {
    color: white;
    font-family: 'tex bold';
}

.cardnum {
    color: white;
    font-family: 'tex regular';
} */

.card {
    background: linear-gradient(to bottom right, rgba(47, 49, 83, 0.185), rgba(138, 138, 138, 0.082));
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    border: 1px solid rgb(41, 41, 41);
    border-radius: 30px;
}

.method {
    color: black;
    min-width: 37rem;
    width: 35%;
}

.title {
    color: white;
}

.paymentLogo {
    background-repeat: no-repeat;
    background-position:right;
    min-height: 5rem;
    background-size: 5rem;
}

@media only screen and (max-width: 768px) {
    .paymentLogo {
        background-position: center !important;
    }
}

@media only screen and (max-width: 620px) {
    .method {
        min-width: 15rem !important;
        width: 100%;
    }
    .cardinfo {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}

@media only screen and (max-width: 420px) {
    .cardinfo h2{
        font-size: 1.5rem;
    }
    .cardname h4 {
        font-size: 1rem;
    }
}