.subnav li a {
    color: #2D3238 !important;
}

.brands {
    border: 2px solid gray !important;
}

/* PRODUCTS SECTION */


#brand {
    font-size: 1rem;
    font-family: 'tex regular';
}

.indivcard {
    border-radius: 45px;
}

#price .fa-heart {
    color: #E5A253;
}

#prodname {
    font-size: 1.2rem;
    font-family: 'tex regular';
}

.products {
    background-color: #efefef;
    margin-top: 8rem;
    border-radius: 25px;
    font-family: 'tex bold';
}

.item-collapse {
    background-color: gainsboro !important;
    border-radius: 30px !important;
}

.menu a {
    color: black;
}

.menu-title {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (max-width:400px) {

    .subnav {
        flex-wrap: wrap;
    }
}