#profile-pic {
  clip-path: circle();
}

.profile div {
  font-family: 'tex bold';
}

#pageTitle {
  font-size: 4rem;
  font-family: 'tex regular';
  border-bottom: 2px solid black;
}

.profile .col-md-8 {
  font-family: 'tex regular';
}

#profile_page {
  min-height: 90vh;
}

#upload {
  font-size: 0.5rem !important;
}