#section {
    min-height: 90vh;
}

#list {
    border: 2px solid black;
    border-radius: 30px;
    width: 80%;
    min-height: 20vh;
}

#list h3 {
    font-family: 'tex bold';
}

#list.active {
    border:2px solid #E5A253;
    background-color: #E5A253;
}

.fa-plus {
    font-size: 2rem;
}

.row #createBooking, .row #createCanvass {
    color: black;
}

.row #createBooking:hover, .row #createCanvass:hover {
    text-shadow: 0px 0 20px #e5a15344 !important;
}

#list.active {
    border:2px solid #E5A253;
    background-color: #E5A253;
}

.active .btn{
    background-color: white;
    color: black;
}

.active .btn:hover{
    box-shadow: 0px 0 20px #ffffff44 !important;
    text-shadow: 0px 0 20px #e5a15331 !important;
}