.form {
    border: 1px solid black;
    border-radius: 5px;
}

#profile-pic {
    clip-path: circle();
}

.settings a {
    color: black;
}

.settings h3 {
    width: 70%;
}

.settings .active h3 {
    border-bottom: 2px solid #E5A253;
}

@media only screen and (max-width:600px) {
    .form {
        width: 100% !important;
    }
}